body {
    font-family: 'Asap', sans-serif;
    background: url("../images/background1.jpg") no-repeat center center fixed;
}

.container {
    /* margin-right: auto;
    margin-left: auto; */
}

.navbar {
    border-radius: 7px;
    background-color: transparent;
}

.jumbotron {
    background-image: url("../images/dal_skyline.png");
    margin-bottom: 0px;
    height: 127px;
    border-radius: none;
}

#logo {
    height: 120px;
    width: 120px;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-top: -45px;

}

.dropdown {
    background-color: #1976d2 ;
    max-width:1110px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 80%;
    /* border-radius: 7px; */
}

#dropdownMenu2 {
    font-family: 'Asap', sans-serif;
    background-color: #1976d2;
    border-radius: 7px;
}

#mnnav-btn {
    width:220px;
}

.form-control {
    margin-left: 105px;
}
/* #tab {
    float: left;
    background-color: black;
    color: darkkhaki;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
} */

#content-area {
    background-color: lightgray;
    width: 800px;
    height: 800px;
    margin-left: 17px;
    margin-top: 0px;
}

#sidebar {
    background-color:darkgray;
    width: 310px;
    height: 800px;
}

#blonde-ad {
    width: 310px;
}

#ticket-fpo {
    max-width: 100%;
    max-height: 100%;
}

.footer {
    background-color: #007bff;
    color: white;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

i {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

